<header id="sus" class="header-site">
    <button type="button" class="hamburger" id="btn-meniu" aria-label="Deschide sau închide meniul" aria-expanded="false" aria-controls="nav-principal">
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
    </button>
    <h1>NutriCore – Performanță și Nutriție</h1>

    <nav class="nav-principal" id="nav-principal" aria-label="Navigare principală NutriCore">
        <ul>
            <li class="nav-item nav-item--has-submenu">
                <a href="/" class="nav-link--principal">
                    <i class="fa-solid fa-house" aria-hidden="true"></i>
                    <span class="nav-text nav-text--acasa">Acasă</span>
                </a>
                <ul class="submenu">
                    <li><a href="/#despre">Despre NutriCore</a></li>
                    <li><a href="/#produse">Produsele Noastre</a></li>
                    <li><a href="/#galerie">Galerie</a></li>
                    <li><a href="/#evenimente">Evenimente</a></li>
                    <li><a href="/#top-produse">Top Produse</a></li>
                    <li><a href="/#video">Videoclipuri</a></li>
                    <li><a href="/#statistici">Statistici</a></li>
                    <li><a href="/#intrebari">Întrebări Frecvente</a></li>
                </ul>
            </li>
            <li class="nav-item nav-item--has-submenu">
                <a href="/galerie-statica" class="nav-link--principal">
                    <i class="fa-solid fa-images" aria-hidden="true"></i>
                    <span class="nav-text">Galerii</span>
                </a>
                <ul class="submenu">
                    <li><a href="/galerie-statica">Galerie statică</a></li>
                    <li><a href="/galerie-dinamica">Galerie dinamică</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/magazin" class="nav-link--simplu">
                    <i class="fa-solid fa-store" aria-hidden="true"></i>
                    <span class="nav-text">Magazin</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/blog" class="nav-link--simplu">
                    <i class="fa-solid fa-newspaper" aria-hidden="true"></i>
                    <span class="nav-text">Blog &amp; Ghiduri</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/despre-noi" class="nav-link--simplu">
                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i>
                    <span class="nav-text">Despre noi</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link--simplu">
                    <i class="fa-solid fa-address-card" aria-hidden="true"></i>
                    <span class="nav-text">Contact &amp; Povestea Mea</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
